.background-dark {
    background-color: #262626;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 100px;
}

.timer {
    font-size: 60px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #33cc99;
    margin-top: 25px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;  
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
  }