html {
    box-sizing: border-box;
}

.body {
    background-color: lightgray;
    margin: 0;
}

nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    top: 0;
}

nav ul li:hover {
    background-color: rgba( 0, 150, 255, 1.0);
}

nav ul a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 25px;
    display: block;
    padding: 10px 5px;
    padding-left: 30px;
}

nav ul a:after {
    content: ">";
    display: block;
    position: absolute;
    left: 15px;
    top: 13px;
    font-size: 12px;
}

.menu {
    position: fixed;
    width: 163.4667px;
    left: -163.4667px;
    top: 0;
    bottom: 0;
    background-color: rgba( 0, 0, 0, .9);
    padding: 0;
    transition: left 0.25s ease-in 0s;
}

.clap {
    color: white;
    position: fixed;
    background-color: rgba( 0, 0, 0, .9);
    top: 0;
    left: 0;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.opener {
    font-size: 15px;
    margin: 0;
    padding: 15px;
    border-bottom-right-radius: 5px;
}

.menu.open {
    left: 0;
    transition: left 0.25s ease-in 0s;
    /*padding-left: 43.4667px;*/
}

.listtitle {
    color: white;
    text-align: center;
    padding: 15px;
    padding-left: 58.4667px;
    font-size: 17.5px;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .start {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 991px) {
    .link {
        margin-bottom: 20px;
    }
}

.menu-neu {
    background-color: #314151;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.navi {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.test2 {
    width: 100px;
    text-align: center;
}

.link {
    list-style: none;
    padding: 10px;
}

.ref {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.momentan {
    background-color: gray;
}

.start {
    display: flex;
    justify-content: center;
}

.title {
    text-decoration: underline;
    font-size: 32px;
    text-align: center;
}

.werte {
    display: grid;
    justify-content: center;
    font-size: 20px;
}

.timer-box {
    display: grid;
    justify-content: center;
}

.timer {
    margin-top: 10px;
    font-size: 60px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.button {
    font-size: 60px;
    color: black;
    font-family: 'Roboto', sans-serif;
    background-color: #33cc99;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    max-width: 1000px;
    margin-top: 25px;
}